


.FileDropContainer{
    border: 3px #414242 solid;
    position: absolute;
    left: 45%;
    top:15%;
    width: 500px;
    height: 50px;
    cursor:pointer;
    font-size: 20px;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  
}

.FileDropContainer:hover {
    background-color: whitesmoke;
  }



.GraphContainer{

   
    width:800px;
    height:400px;

}



.DataTable{
    margin-top: auto;
    position: relative;
    color: #8e9478;
    left: 70px;
 
   

}







