.Models {
  width: 35%;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  right: 20%;
  top: 85px;
  position: absolute;
  width: 200px;
  height: 50px;
 
}

.Buttons {
  width: 100%;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  top: 160px;
  position: absolute;
}

.AddModel {
  width: 35%;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  top: 160px;
  position: absolute;
}

.TestDisplay {
  width: 30%;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  left:1%;
  top: 140px;
  position: absolute;
}


.SubMaster{
    position: relative;
}

